/*====»’¿˙====*/
.calendar-input{
	cursor:pointer;
	background:#fff url(leftico04.png) no-repeat right; 
	border-radius:3px;
	border:1px solid #cccccc;
	height: 28px;
}
.calendar-inputDD{
	cursor:pointer;
	background:#fff url(leftico04.png) no-repeat right; 
	border-radius:3px;
	border:1px solid #cccccc;
	height: 28px;
}
.calendar-input2359{
	cursor:pointer;
	background:#fff url(leftico04.png) no-repeat right; 
	border-radius:3px;
	border:1px solid #cccccc;
	height: 28px;
}